<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" href="/profile/style.css">
</head>
<body>
<form method="post" action="/update_profile" class="contact-form" Content-Type="application/x-www-form-urlencoded">
  <div class="contact-page">
      <a class="logout" href='/' style="background-color:green;"><b>Home</b></a><pre>  </pre>
      <a class="logout" href='/logout'><b>Logout</b></a>
      <h2>{{username}}</h2>
    <div class="contact-info">


        <center style="display:flex;flex-wrap:wrap;">
        <div class="s"><b>Man </b><label><input type="checkbox" name="Man" {{Man}}><span class="s2"></span></label></div>
        <div class="s"><b>Tir </b><label><input type="checkbox" name="Tir" {{Tir}}><span class="s2"></span></label></div>
        <div class="s"><b>Ons </b><label><input type="checkbox" name="Ons" {{Ons}}><span class="s2"></span></label></div>
        <div class="s"><b>Tor </b><label><input type="checkbox" name="Tor" {{Tor}}><span class="s2"></span></label></div>
        <div class="s"><b>Fre </b><label><input type="checkbox" name="Fre" {{Fre}}><span class="s2"></span></label></div>
        <div class="s"><b>Lor </b><label><input type="checkbox" name="Lor" {{Lor}}><span class="s2"></span></label></div>
        <div class="s"><b>Son </b><label><input type="checkbox" name="Son" {{Son}}><span class="s2"></span></label></div>
        </center>

    </div>
    <textarea placeholder="Skriv noget om dig selv" name="bio">{{bio}}</textarea>
      <input type="submit" class="btn" value='Gem'>
    </form>
  </div>
</body>
</html>
