*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans",sans-serif;
}

body{
  min-height: 100vh;
  background: #131313;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.contact-page{
  width: 100%;
  max-width: 1400px;
  padding: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

h2{
  width: 100%;
  margin-bottom: 80px;
  text-transform: uppercase;
  color: #fff;
  font-size: 60px;
}

.contact-info, .contact-form{
  flex: 1;
}

.item{
  margin-bottom: 24px;
  font-size: 16px;
  color: #322;
}

.icon{
  width: 60px;
  height: 60px;
  line-height: 60px;
  background-color: #3494db;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  margin-right: 16px;
}

.contact-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.textb{
  width: calc(50% - 10px);
  height: 50px;
  padding: 12px;
  background-color: #222;
  border: none;
  color: #fff;
  margin-bottom: 20px;
}

textarea{
  width: 100%;
  min-height: 200px;
  max-height: 400px;
  resize: vertical;
  padding: 12px;
  background-color: #ededed;
  border: none;
  color: black;
  margin-bottom: 20px;
  border-radius: 10px;
}

.btn{
  width: 120px;
  height: 40px;
  margin-left: auto;
  background-color: #3494db;
  border: none;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid #3494db;
  transition: .3s linear;
}

.btn:hover{
  background-color: transparent;
  color: #3494db;
}

.logout{
  display: block;
  background-color: red;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s linear;
  text-decoration: none;
  padding: 5px 20px;
}

.logout:hover{
  opacity: .70;
}

@media screen and (max-width: 980px){
  .contact-page{
    max-width: 800px;
  }
  h2{
    font-size: 40px;
    margin-bottom: 40px;
  }

  .contact-info, .contact-form{
    flex: 100%;
    margin-bottom: 30px;
  }
  .textb{
    width: 100%;
  }
}

/* SWITCHES */


.s{
  padding: 10px 25px;
}
.s input{
  display: none;
}
.s1{
  width: 100px;
  height: 40px;
  background: #ccc;
  display: block;
  overflow: hidden;
  cursor: pointer;
  transition: 0.4s;
}
.s1:before{
  content: '';
  position: absolute;
  width: 32px;
  height: 32px;
  left: 4px;
  bottom: 4px;
  background: white;
}
.s input:checked + .s1{
  background: #03a9f4;
}
.s input:checked + .s1:before{
  left: 64px;
}
.s2{
  width: 100px;
  height: 40px;
  background: #ccc;
  display: block;
  overflow: hidden;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 20px;
}
.s2:before{
  display: none;
  content: '';
  position: absolute;
  width: 32px;
  height: 32px;
  left: 4px;
  bottom: 4px;
  background: white;
  border-radius: 50%;
}
.s input:checked + .s2{
  background: #03a9f4;
}
.s input:checked + .s2:before{
  left: 64px;
}

