<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lektie Buddie</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    <center><br><br><br><br>
      <div class="post-content" style="display:flex;"><br><br>
        <b>Wanna swipe some more?</b>
        <a class="btn" href="/">HOME</a>
        <a class="btn" href="/logout" style="background-color:red;">LOGOUT</a>
        <a class="btn" href="/profile">PROFILE</a>
      </div>
    </center><br><br>
    {{contacts}}
</body>
