<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{username}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <link rel="stylesheet" href="/card/style.css">
</head>
<body>
    <center>
        <a href="#" class="user-card"></a><br>

        <div class="post-content">
            <h1>{{username}}</h1>
            <h3>{{bio}}</h3>
            <div class="buttons">
                <a class="btn fas fa-arrow-left" style="background-color:red;" href="/dont_match/{{username}}"></a><pre>  </pre>
                <a class="btn fas fa-align-justify" href="/profile"></a><pre>  </pre>
                <a class="btn fas  fa-comment" href="/contacts"></a><pre>  </pre>
                <a class="btn fas fa-arrow-right" href="/match/{{username}}/home"></a><pre>  </pre>
            </div>
            <ul class="date">
                <li>Man : {{Man}}</li>
                <li>Tir : {{Tir}}</li>
                <li>Ons : {{Ons}}</li>
                <li>Tor : {{Tor}}</li>
                <li>Fre : {{Fre}}</li>
                <li>Lor : {{Lor}}</li>
                <li>Son : {{Son}}</li>
            </ul>
        </div>
    <center>
</body>
</html>
<style>
    .user-card{
      display: block;
      background-size: cover;
      background: url({{image}}) center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;

      width: calc(100% - 50px);
      height: calc(100vh);
      padding: 50px 40px;
      border-radius: 20px;
    }
</style>
