*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu",sans-serif;
}

body{
  background: #131313;
  align-items: center;
  justify-content: center;
}

.user-card h1{
  text-align: center;
  margin: 48px 0;
  font-size: 36px;
  color: #fff;
  font-size: 36px;
  background-color: #131313;
  border-radius: 20px;
}

.textb{
  margin-bottom: 12px;
  position: relative;
}

.textb input{
  width: 100%;
  height: 70px;
  border: none;
  background-color: #ededed;
  border-radius: 4px;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  padding: 14px 60px 0 10px;
}

.placeholder{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  line-height: 70px;
  top: 0;
  left: 20px;
  color: #9d9d9d;
  user-select: none;
  pointer-events: none;
}

.show-password{
  position: absolute;
  right: 20px;
  line-height: 70px;
  color: #9d9d9d;
  font-size: 22px;
  cursor: pointer;
}

.textb input:focus ~ .placeholder,
.textb input:valid ~ .placeholder{
  left: 10px;
  top: -16px;
}

.checkbox{
  display: flex;
  align-items: center;
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin: 20px 0;
}

.checkbox input{
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
  background-color: #ededed;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}

.checkbox .fa-check{
  position: absolute;
  color: #fff;
  font-size: 14px;
  width: 24px;
  text-align: center;
  user-select: none;
  pointer-events: none;
  opacity: 0;
}

.checkbox input:checked{
  background-color: #81DB82;
}

.checkbox input:checked + .fa-check{
  opacity: 1;
}

.post-content{
  display: block;
  background-color: #ffffff;
  margin: 0 20px;
  padding: 30px;
  border-radius: 20px;
  transition: .3s linear;
}

.post-content h3{
  font-size: 16px;
  margin-bottom: 10px;
}

.date{
  font-size: 15px;
  font-style: italic;
  color: #e77f67;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  align-items: left;
}

.btn{
  display: block;
  background-color: #81DB82;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s linear;
  text-decoration: none;
  padding: 5px 20px;
}

.btn:hover{
  opacity: .70;
}

.buttons{
    display: flex;
    justify-content: center;
    align-content: center;
}
